<!doctype html>
<html ng-app="tink.rangedatepicker">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <!-- endbower -->
</head>
<body>

<div ng-controller="ctrl as load" class="container">
  <h1>Datepicker Component</h1>
  <hr>
  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <h1 class="panel-title">Range datepicker</h1>
    </header>
    <div class="panel-body">
      <h3>Examples</h3>
      <form name="load.dateForm" novalidate>{{load.dateForm.firstdates}}
            <div class="row form-group" data-ng-class="{'has-error':(load.dateForm.firstdates.$ngBlur|| load.dateForm.submitted) && load.dateForm.firstdates.$invalid,'has-success': (load.dateForm.firstdates.$ngBlur || load.dateForm.submitted) && load.dateForm.firstdates.$valid}">
              <div class="col-xs-12">
                <label for="tink-username-example">Date</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="validation">
                   <tink-datepicker-range name="dates" data-first-date="load.firstSelectedDate" data-last-date="load.lastSelectedDate"></tink-datepicker-range>
                </div>
                <span class="help-block">Kies een datum die na {{minDateStr}} en voor {{maxDateStr}} ligt.</span>
              </div>
              {{load.dateForm.$dirty}}{{load.dateForm.lastdates.$dirty}}{{load.dateForm.firstdates.$dirty}}
              <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="messages" ng-messages="load.dateForm.firstdates.$error" ng-if="load.dateForm.firstdates.$ngBlur" >
                  <div class="text-danger" ng-message="date-required">Geef een geldige datum in.</div>
                  <div class="text-danger" ng-message="date">Geef een geldige datum formaat in.</div>
                  <div class="text-danger" ng-message="date-max">De datum die je koos ligt te ver in de toekomst. Kies een datum die voor {{maxDateStr}} ligt.</div>
                  <div class="text-danger" ng-message="date-min">De datum die je koos ligt te ver in het verleden. Kies een datum die na {{minDateStr}} ligt.</div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-12">
                <button data-ng-click="signup()" type="button" class="btn-primary">Valideren</button>
                    <button ng-click="nullf()">test</button>

              </div>
            </div>
{{load.dateForm.lastdates}}
          </form>
      <div class="row">
        <div class="col-xs-12">
          <h3>Usage</h3>
          <p>
            Add element <code>&lt;tink-datepicker-range&gt;&lt;/tink-datepicker-range&gt;</code> to your html page.<br/>
            Do not forget to add the attributes <code>first-date</code> and <code>last-date</code> otherwise it wil not work !
          </p>
          <p>
            To retrieve the first selected date, attach a scope variable, for example <code>firstSelectedDate</code>, from your controller to the attribute <code>first-date</code>. This is the same for the second date.
          </p>
        </div>
        <div class="col-xs-12">
          <h3>Options</h3>
          <div class="table-responsive">
            <table class="table-dev">
              <thead>
                <tr>
                  <th>Attr</th>
                  <th>Type</th>
                  <th>Default</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>data-max-date</td>
                  <td><code>date</code></td>
                  <td><code>null</code></td>
                  <td>when a date cannot be larger then the given max date.</td>
                </tr>
                <tr>
                  <td>data-min-date</td>
                  <td><code>date</code></td>
                  <td><code>null</code></td>
                  <td>when a date cannot be minor then the given min date.</td>
                </tr>
                <tr>
                  <td>data-ng-model</td>
                  <td><code>date</code></td>
                  <td><code>null</code></td>
                  <td>The date value.</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section><button ng-click="ctr.setDate()">setdate</button>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/tink-helper-date-angular/dist/tink-helper-date-angular.js"></script>
<script src="bower_components/tink-helper-safe-apply-angular/dist/tink-helper-safe-apply-angular.js"></script>
<script src="bower_components/tink-helper-format-angular/dist/tink-helper-format-angular.js"></script>
<!-- endbower -->

<script>
angular.module('tink.rangedatepicker',['tink.datehelper','tink.safeApply','tink.formathelper']).controller('ctrl',function(){
  this.firstSelectedDate = new Date();
 this.setDate = function(){
  this.firstSelectedDate = new Date();
  this.lastSelectedDate = new Date(2015,9,30);
 }

})
</script>

<script src="scripts/directives/tink-range-datepicker-angular.js"></script>
</body>
</html>
